.list-item {
  width: 100%;
  background: #ffffff;
  margin: 1px 0;
  display: flex;
  padding: 0;
}

.list-item-image {
  height: 75px;
}

.list-item-info {
  flex: 6;
  max-height: 75px;
  padding: 15px;
}

.list-item-product-name {
  flex: 1;
}

.list-item-product-desc {
  flex: 1;
}

.list-item-quick-info {
  flex: 3;
  max-height: 75px;
}

.list-item-redirect {
  flex: 1;
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
}
