<div>

<div class="row">
  <div class="col-xs-12 company-name-wrapper">
    <div class="company-name animated" ng-class="{ fadeInDown: true }">ByTems</div>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-4 col-lg-8 col-lg-offset-2">
    <div class="search-field-wrapper animated" ng-class="{ fadeInUp: true }">
      <input type="text" class="search-field" ng-model="vm.searchQuery"
      ng-model-options="{debounce: 400}" placeholder="Search for a product...">
      <div class="red-button search-button" ng-click="vm.onSearch()">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div ui-view="list"></div>
</div>
</div>
